a:link,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}



body {
  font-family: "Jost", sans-serif;
  background-color: rgb(179, 177, 181);
  position: relative;
  text-align: justify;
  overflow-x: hidden;
}

/* ---------------------------------- */


.Nav1-2,
.Nav3-4 {
  font-size: 3rem;
  width: 97vw;
  height: 10%;
  z-index: 2;

  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 1%;
}

.Nav1-2 {
  top: 0;
}

.Nav3-4 {
  bottom: 0;
}

/* ---------------------------------- */

.Sprint1Titel {
  font-size: 15rem;
  font-weight: bold;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.Sprint1Teil1,
.Sprint1Teil2,
.Sprint1Teil3,
.Sprint1Teil4,
.Sprint1Teil5Links {
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  padding: 5%;
}


.Sprint1Teil1Video1,
.Sprint1Teil1Text,
.Sprint1Teil1Video2,
.Sprint1Teil2Text1,
.Sprint1Teil2Text2,
.Sprint1Teil2Video,
.Sprint1Teil3Video1,
.Sprint1Teil3Text,
.Sprint1Teil3Video2,
.Sprint1Teil4Video1,
.Sprint1Teil4Video2,
.Sprint1Teil4Video3 {
  position: relative;
  height: 100%;
  width: 30%;
  display: inline-flex;
  align-items: center;
}


/* ---------------------------------- */

#Sprint1Background {
  position: absolute;
  top: -1%;
  left: -1%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* ---------------------------------- */

.Sprint1Teil5Titel {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  height: 20%;
  margin-top: 15%;
}

.Sprint1Teil5LinksLinien,
.Sprint1Teil5LinksNoise,
.Sprint1Teil5LinksRect {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Teil5Button-Linie1,
.Teil5Button-Linie2,
.Teil5Button-Noise,
.Teil5Button-Rect1,
.Teil5Button-Rect2,
.Teil5Button-Rect3,
.Teil5Button-Rect4,
.Teil5Button-Rect5 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  min-height: 44px;
  padding: 9px 20px 8px;
  user-select: none;
  touch-action: manipulation;
  width: 100%;
  margin-top: 20%;
}

.Teil5Button-Linie1:hover,
.Teil5Button-Linie1:focus,
.Teil5Button-Linie2:hover,
.Teil5Button-Linie2:focus,
.Teil5Button-Noise:hover,
.Teil5Button-Noise:focus,
.Teil5Button-Rect1:hover,
.Teil5Button-Rect1:focus,
.Teil5Button-Rect2:hover,
.Teil5Button-Rect2:focus,
.Teil5Button-Rect3:hover,
.Teil5Button-Rect3:focus,
.Teil5Button-Rect4:hover,
.Teil5Button-Rect4:focus,
.Teil5Button-Rect5:hover,
.Teil5Button-Rect5:focus {
  opacity: .75;
}